article {
  width: 360px;
  color: red;
  background-color: white;
}

@media (min-width: 35rem) {
  article {
    background-color: yellow;
    color: black;
  }
}

@media (max-width: 50rem) {
  article {
    border: 2px solid blue;
  }
}